.navbar {
    display: flex;
    background-color: #f8f9fa;
    align-items: center;
    margin-bottom: 0 auto;
    justify-content: space-between;
}

.navbar .nav {
    display: flex;
    gap: 32px;
}
.navbar .nav a {
    text-decoration: none;
    color: #2d3748;
}
.navbar button {
    background-color: #2f855a;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.navbar button a {
    text-decoration: none;
    color: white;
}
.banner {
background: url(./assets/hero-bg.png) no-repeat;
background-size: cover;
height: 600px;
display: flex;
align-items: center;
}
.banner .content {
    margin-left: 100px;
    max-width: 600px;
    color: white;
   text-align: center;
   padding: 120px;
   margin: 0 auto;
}
h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
.content .highlights{
    color: #2f855a;
    margin-bottom: 20px;
}
.content p {
    margin-bottom: 25px;
}
.content .button {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.content .btn{
    background-color: #2f855a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}
.content .btn a {
    text-decoration: none;
    color: white;
}   
.content .btnd{
    background-color:transparent;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
}
.content .btnd a {
    text-decoration: none;
    color: white;
}
.notes {
    text-align: center;
    gap: 30px;
    margin-bottom: 40px;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.card-container .card img {
    width: 20%;
    background-color: crimson;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(180, 178, 178, 0.1);
}
.brain {
    display: flex;
    justify-content: center;
    gap: 150px;
}
.second h4 {
    margin-bottom: 5px;
    color: #2f855a;
}
.list ul {
    list-style-type: none;
    padding-left: 20px;
}
.early{
    display: flex;
    justify-content: center; 
    text-align: center;  
    background-color: rgb(217, 217, 216);
    max-width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 80px;
    border-radius: 10px;
}
.early h2 {
    margin-bottom: 10px;
}
.early p {
    margin-bottom: 10px;
}
.early button {
    background-color: #2f855a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.early button a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.early .credit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-content {
    background-color: rgb(3, 3, 63);
    padding: 60px 80px;
    margin-top: 120px;
    color: white;
}
.footer-logo img {
    width: 100px;
    margin-bottom: 20px;
}
.social-links {
    margin-bottom: 30px;
}
.social-links a {
    color: white;
    margin-right: 15px;
    font-size: 24px;
    text-decoration: none;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
